{% extends 'base.html' %}

{% block content %}
    <form action="/convert">
        <label for="curr-from">Converting from:
            <input type="text" id="curr-from" name="curr-from"  placeholder="Enter Currency Code">
        </label><br>
        <label for="curr-to">Converting to:
            <input type="text" id="curr-to" name="curr-to" placeholder="Enter Currency Code">
        </label><br>
        <label for="amount">Amount:
            <input type="text" id="amount" name="amount" placeholder="Enter Amount">
        </label><br>
        <button>Convert</button>
    </form>

{% endblock %}