{% extends 'base.html' %}

{% block content %}
    <form action="/convert">
        <label for="curr-from">Converting from:
            <select name="curr-from" id="curr-from" required>
                <option disabled hidden selected value=''>Currency Code</option>
                {% for code in currency_code %}
                    <option value="{{code}}" name="curr-from">{{code}}</option>
                {% endfor %}
            </select>
        </label><br>
        <label for="curr-to">Converting to:
            <select name="curr-to" id="curr-to" required>
                <option disabled hidden selected value="">Currency Code</option>
                {% for code in currency_code %}
                    <option value="{{code}}" name="curr-to">{{code}}</option>
                {% endfor %}
            </select>
        </label><br>
        <p>Enter your amount as a value with no symbols, puncutation, etc. Valid: 2000   Invalid: $2000 or 2,000</p>

        <label for="amount">Amount:
            <input type="text" id="amount" name="amount" placeholder="Enter Amount" required>
        </label>
        <button>Convert</button>
        </form>

{% endblock %}