{% extends 'base.html' %}

{% block content %}
    <form action="">
        <label for="curr-from">Converting from:
            <input type="text" id="curr-from" placeholder="Enter Currency Code">
        </label><br>
        <label for="curr-to">Converting to:
            <input type="text" id="curr-to" placeholder="Enter Currency Code">
        </label><br>
        <label for="amount">Amount:
            <input type="text" id="amount" placeholder="Enter Amount">
        </label>
        <button>Convert</button>
    </form>

{% endblock %}